extends layouts/main.pug

block content
    .write_css
        form(action="/write", method="post")
            .title_area
                span 제목
                input(type="text" id="title" name="title" placeholder="title...")
            .desc_area
                span 내용
                input(type="text" id="desc" name="desc" placeholder="desc...")
            .btn_area
                input(type="submit" value="글 작성")